version: '3'
services:

  config-server:
    build:
      context: config-server
      dockerfile: Dockerfile
    ports:
      - "8888:8888"


  discovery-server:
    build:
      context: discovery-server
      dockerfile: Dockerfile
    ports:
      - "8761:8761"

     