version: '3'
services:

##############################################################

  authentication:
    build:
      context: JWTauthentication
      dockerfile: Dockerfile

    restart: always
    ports:
      - "8098:8098"
    network_mode: host
    # depends_on:
    #   - mysql
    # environment:
    #   SPRING_DATASOURCE_URL: jdbc:mysql://localhost:3306/security?allowPublicKeyRetrieval=true&autoReconnect=true&useSSL=false

##############################################################

  serving:
    build:
      context: serving2/serving2
      dockerfile: Dockerfile
    network_mode: host
    restart: always
    ports:
      - "8051:8051"

##############################################################

  random-recommandation:
    build:
      context: random-recommandation-service
      dockerfile: Dockerfile
    network_mode: host
    restart: always
    ports:
      - "8049:8049"

##############################################################

  # preferences-recommandation:
  #   build:
  #     context: preference-recommandation
  #     dockerfile: Dockerfile
  #   network_mode: host
  #   restart: always
  #   ports:
  #     - "8048:8048"
